/* Start Variables */

:root {
   --header-color: #252a2d;
   --section-color: #f6f4ff;
   --line-color: #3c4245;
   --best-blue: #03a9f4;
   --best-blue-edit: #06405d;
   --best-red: #e91e63;
   --best-red-edit: #bb013f;
   --dark-blue: #051d60;
   --dark-purple: #6c28e6;
   --padding-nav: 15px;
   --padding-top: 30px;
   --padding-bottom: 40px;
   --gap: 50px;
   --duration: 0.3s;
}

/* End Variables */

/* Start Header */

/* Start Top Section */

header {
   background-color: var(--header-color);
   height: 100vh;
   color: white;
   background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
   background-position-x: center;
   background-size: cover;
}

header .top-section {
   position: sticky;
   width: 100%;
   z-index: 1;
   top: 0;
   background-color: var(--header-color);
}

header .top-section .intro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 0 auto;
}

header .top-section .intro .headline {
   display: flex;
   align-items: center;
   gap: 15px;
}

header .top-section .intro .headline i {
   font-size: 30px;
   color: white;
}

header .top-section .intro .headline h3 {
   font-size: 30px;
   word-spacing: -1px;
   letter-spacing: -1px;
   color: white;
   font-style: italic;
}

header .top-section .intro .links nav .bars {
   display: flex;
   flex-direction: row-reverse;
   gap: 47px;
   position: relative;
}

header .top-section .intro .links nav .bars .main-bar::before {
   content: "";
   top: 4px;
   left: -17px;
   position: absolute;
   border-width: 7px;
   border-style: solid;
   border-color: transparent transparent transparent white;
}

header .top-section .intro .links nav .bars .main-bar {
   position: relative;
   transition-duration: var(--duration);
   font-size: 17px;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars {
   position: absolute;
   background-color: var(--header-color);
   color: black;
   top: 42px;
   right: 0;
   margin-top: 5px;
   width: 170px;
   display: none;
}

/* Make Hover More Flexible */
header .top-section .intro .links nav .bars .main-bar .sub-bars::before {
   content: "";
   background-color: transparent;
   top: -30px;
   right: 0;
   position: absolute;
   width: 100%;
   height: 30px;
   display: none;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li {
   transition-duration: var(--duration);
   margin-bottom: 5px;
   border-top: solid 1px var(--line-color);
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li a {
   padding: var(--padding-nav);
   color: white;
   display: block;
}

header .top-section .intro .links nav .bars .main-bar:hover {
   cursor: pointer;
   color: #5558bf;
}

header .top-section .intro .links nav .bars .main-bar:hover .sub-bars {
   cursor: pointer;
   color: #5558bf;
   display: block;
}

header .top-section .intro .links nav .bars .main-bar:hover::before {
   border-color: white transparent transparent transparent;
   top: 5px;
}

header .top-section .intro .links nav .bars .main-bar:hover .sub-bars::before {
   display: block;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li:hover {
   padding-left: 15px;
}

/* Extra Small Devices */

@media (max-width: 768px) {
   header .top-section .intro .links .icon {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   header .top-section .intro .links .icon span {
      background-color: white;
      height: 2px;
      width: 40px;
   }

   header .top-section .intro .links {
      position: relative;
   }

   header .top-section .intro .links nav .bars {
      position: absolute;
      right: 0;
      top: 37px;
      flex-direction: column;
      background-color: var(--header-color);
      gap: 0px;
      margin-top: 10px;
      display: none;
   }

   header .top-section .intro .links nav .bars::before {
      content: "";
      width: 100%;
      height: 20px;
      position: absolute;
      top: -20px;
      left: 0px;
      background-color: var(--header-color);
      border-width: 0;
   }

   header .top-section .intro .links nav .bars .main-bar {
      padding: var(--padding-nav);
      position: relative;
      padding-left: 25px;
      margin-bottom: 5px;
      border-top: solid 1px var(--line-color);
   }

   header .top-section .intro .links nav .bars .main-bar::before {
      display: none;
   }

   header .top-section .intro .links nav .bars .main-bar::after {
      content: "";
      top: 19px;
      left: 10px;
      position: absolute;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent white;
   }

   header .top-section .intro .links:hover {
      cursor: pointer;
   }

   header .top-section .intro .links:hover nav .bars {
      display: block;
   }

   header .top-section .intro .links nav .bars .main-bar:hover .sub-bars::before {
      display: none;
   }

   header .top-section .intro .links nav .bars .main-bar:hover::after {
      border-color: transparent white transparent transparent ;
      left: 0px;
   }

   header .top-section .intro .links nav .bars .main-bar:hover .sub-bars {
      right: 167px;
      top: -6px;
   }
}

/* Small Devices */

@media (min-width: 768px) {
   header .top-section .intro {
      width: 760px;
   }
}

/* Medium Devices */

@media (min-width: 992px) {
   header .top-section .intro {
      width: 985px;
   }
}

/* Large Devices */

@media (min-width: 1200px) {
   header .top-section .intro {
      width: 1200px;
   }
}

/* End Top Section */

/* End Header */

/* Start Main */

/* Start Spotlight section */

main section.spotlight {
   background-color: var(--section-color);
}

main section .container .top-news {
   margin-top: var(--padding-top);
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: var(--gap);
   text-align: center;
   padding-bottom: var(--padding-bottom);
}

main section .container .top-news .news {
   background-color: darkblue;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   gap: 10px;
   transition-duration: var(--duration);
}

main section .container .top-news .news img {
   max-width: 100%;
}

main section .container .top-news .news p {
   padding: 20px;
   line-height: 1.8;
   color: white;
}

@media (max-width: 768px) {
   main section .container .special-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media (min-width: 768px) {
   main section .container .top-news .news:hover {
      transform: scale(1.06);
   }
}

/* End Spotlight section */

/* Start Transfers Section */

main section .container .transfer-news {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
   gap: var(--gap);
   margin-top: var(--padding-top);
   padding-bottom: 40px;
}

main section .container .transfer-news .col .definition {
   font-size: 30px;
   background-color: var(--dark-blue);
   color: white;
   padding: 20px;
   text-transform: uppercase;
}

main section .container .transfer-news .col .row {
   padding: 15px 15px;
   display: grid;
   grid-template-columns: 40% 60%;
}

main section .container .transfer-news .col .odd {
   background-color: #EEE;
}

main section .container .transfer-news .col .even {
   background-color: var(--section-color);
}

main section .container .transfer-news .col .row .profile {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

main section .container .transfer-news .col .row .profile img {
   width: 55px;
   height: 60px;
   margin-left: 15px;
}

main section .container .transfer-news .col .row .clubs {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

main section .container .transfer-news .col .row .clubs .icon {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 10px;
   width: none;
}

main section .container .transfer-news .col .row .clubs .icon div {
   height: 3.5px;
   background-color: black;
   width: 120px;
   position: relative;
}

main section .container .transfer-news .col .row .clubs .icon div::after {
   content: "";
   position: absolute;
   right: -15px;
   top: -8px;
   border-width: 10px;
   border-style: solid;
   border-color: transparent transparent transparent black;
}

@media (min-width: 992px) and (max-width: 1199px) {
   main section .container .transfer-news .col .row .clubs img {
      width: 50px;
      height: 50px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   main section .container .transfer-news .col .row .clubs h5 {
      font-size: 14px;
   }

   main section .container .transfer-news .col .row .clubs .icon .long {
      font-size: 12px;
   }
}

@media (max-width: 600px) {
   main section .container .transfer-news .col .definition {
      font-size: 20px;
   }
   
   main section .container .transfer-news .col .row .clubs img {
      width: 35px;
      height: 35px;
   }

   main section .container .transfer-news .col .row .profile img {
      width: 35px;
      height: 40px;
   }

   main section .container .transfer-news .col .row .clubs .icon .long {
      font-size: 12px;
   }

   main section .container .transfer-news .col .row .clubs .icon div {
      height: 2px;
      width: 110px;
   }

   main section .container .transfer-news .col .row .clubs .icon div::after {
      right: -9px;
      top: -4px;
      border-width: 5px;
   }
}

/* End Transfers Section */

/* Start Statistics Section */

main section.statistics {
   background-color: var(--section-color);
}

main section .container .statistics-news {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   padding-top: var(--padding-top);
   gap: 20px;
   justify-content: center;
   align-items: center;
   align-content: center;
   padding-bottom: var(--padding-bottom);
}

main section .container .statistics-news .col .definition {
   font-size: 18px;
   background-color: var(--dark-blue);
   color: white;
   padding: 10px;
   text-transform: uppercase;
}

main section .container .statistics-news .col .row {
   padding: 10px 10px;
   display: grid;
   grid-template-columns: 50% 50%;
}

main section .container .statistics-news .col .odd {
   background-color: #EEE;
}

main section .container .statistics-news .col .even {
   background-color: white;
}

main section .container .statistics-news .col .row .profile {
   display: flex;
   gap: 10px;
   align-items: center;
}

main section .container .statistics-news .col .row .profile img {
   width: 40px;
   height: 50px;
}

main section .container .statistics-news .col .row .profile .text {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

main section .container .statistics-news .col .row .profile .text h4 {
   font-size: 17px;
}

main section .container .statistics-news .col .row .profile .text h5 {
   font-size: 12px;
   font-weight: 500;
}

main section .container .statistics-news .col .row .club-date {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

main section .container .statistics-news .col .row .club-date img {
   width: 40px;
   height: 40px;
}

main section .container .statistics-news .col .row .data {
   display: flex;
   justify-content: space-between;
   width: 200%;
   padding: 2.64px;
}

main section .container .statistics-news .col .row .data .text p {
   font-weight: 600;
}

@media (max-width: 1199px) {
   main section .container .statistics-news .col .definition {
      font-size: 15px;
   }

   main section .container .statistics-news .col .row .profile .text h4 {
      font-size: 13px;
   }

   main section .container .statistics-news .col .row .profile .text h5 {
      font-size: 9px;
   }

   main section .container .statistics-news .col .row .profile img {
      width: 30px;
      height: 40px;
   }

   main section .container .statistics-news .col .row .club-date img {
      width: 30px;
      height: 30px;
   }

   main section .container .statistics-news .col .row .club-date h3 {
      font-size: 16px;
   }
}

@media (max-width: 991px) {
   main section .container .statistics-news .col .definition {
      font-size: 20px;
   }

   main section .container .statistics-news .col .row .profile .text h4 {
      font-size: 15px;
   }

   main section .container .statistics-news .col .row .profile .text h5 {
      font-size: 10px;
   }

   main section .container .statistics-news .col .row .profile img {
      width: 40px;
      height: 50px;
   }

   main section .container .statistics-news .col .row .club-date img {
      width: 40px;
      height: 40px;
   }

   main section .container .statistics-news .col .row .club-date h3 {
      font-size: 1.17em;
   }
}

@media (max-width: 767px) {
   main section .container .statistics-news .col .definition {
      font-size: 15px;
   }

   main section .container .statistics-news .col .row .profile .text h4 {
      font-size: 13px;
   }

   main section .container .statistics-news .col .row .profile .text h5 {
      font-size: 9px;
   }

   main section .container .statistics-news .col .row .profile img {
      width: 30px;
      height: 40px;
   }

   main section .container .statistics-news .col .row .club-date img {
      width: 30px;
      height: 30px;
   }

   main section .container .statistics-news .col .row .club-date h3 {
      font-size: 16px;
   }
}

@media (max-width: 600px) {
   main section .container .statistics-news .col .definition {
      font-size: 16px;
   }

   main section .container .statistics-news .col .row .profile .text h4 {
      font-size: 15px;
   }

   main section .container .statistics-news .col .row .profile .text h5 {
      font-size: 10px;
   }

   main section .container .statistics-news .col .row .profile img {
      width: 30px;
      height: 40px;
   }

   main section .container .statistics-news .col .row .club-date img {
      width: 35px;
      height: 35px;
   }

   main section .container .statistics-news .col .row .club-date h3 {
      font-size: 17px;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   main section .container .statistics-news .col .row .data {
      padding: 0;
   }
}

/* End Statistics Section */

/* End Main */

/* Start Footer */

footer .about {
   background-color: var(--header-color);
   color: white;
}

footer .about .container .box {
   display: grid;
   grid-template-columns: 25% calc(75% - 45px);
   padding: 20px 25px;
   gap: 20px;
   align-items: center;
}

footer .about .container .box .headline {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 20px;
   font-style: italic;
}

footer .about .container .box .text {
   font-size: 15px;
   display: flex;
   flex-wrap: wrap;
   max-width: 100%;
   gap: 7px;
}

footer .about .container .box .text a:hover {
   text-decoration: underline;
}

@media (max-width: 991px) {
   footer .about .container .box {
      display: flex;
      flex-direction: column;
   }
}

/* End Footer */