/* Start Variables */

:root {
   --header-color: #252a2d;
   --section-color: #f6f4ff;
   --line-color: #3c4245;
   --best-blue: #03a9f4;
   --best-blue-edit: #06405d;
   --best-red: #e91e63;
   --best-red-edit: #bb013f;
   --dark-blue: #051d60;
   --dark-purple: #6c28e6;
   --padding-nav: 15px;
   --padding-top: 30px;
   --padding-bottom: 40px;
   --gap: 50px;
   --duration: 0.3s;
}

/* End Variables */

/* Start Body Rules */

body {
   background-image: url(../images/flag-portugal.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   position: relative;
}

body::before {
   content: "";
   background-color: black;
   top: 0;
   right: 0;
   position: absolute;
   width: 100%;
   height: max(100vh, 100%);
   opacity: 0.8;
   z-index: -1;
}

/* End Body Rules */

/* Start Header */

/* Start Top Section */

header {
   background-color: var(--header-color);
   /* height: 100vh; */
   color: white;
}

header .top-section {
   position: sticky;
   width: 100%;
   z-index: 1;
   top: 0;
   background-color: var(--header-color);
}

header .top-section .intro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 0 auto;
}

header .top-section .intro .headline {
   display: flex;
   align-items: center;
   gap: 15px;
}

header .top-section .intro .headline i {
   font-size: 30px;
   color: white;
}

header .top-section .intro .headline h3 {
   font-size: 30px;
   word-spacing: -1px;
   letter-spacing: -1px;
   color: white;
   font-style: italic;
}

header .top-section .intro .links nav .bars {
   display: flex;
   flex-direction: row-reverse;
   gap: 47px;
   position: relative;
}

header .top-section .intro .links nav .bars .main-bar::before {
   content: "";
   top: 4px;
   left: -17px;
   position: absolute;
   border-width: 7px;
   border-style: solid;
   border-color: transparent transparent transparent white;
}

header .top-section .intro .links nav .bars .main-bar {
   position: relative;
   transition-duration: var(--duration);
   font-size: 17px;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars {
   position: absolute;
   background-color: var(--header-color);
   color: black;
   top: 42px;
   right: 0;
   margin-top: 5px;
   width: 170px;
   display: none;
}

/* Make Hover More Flexible */
header .top-section .intro .links nav .bars .main-bar .sub-bars::before {
   content: "";
   background-color: transparent;
   top: -30px;
   right: 0;
   position: absolute;
   width: 100%;
   height: 30px;
   display: none;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li {
   transition-duration: var(--duration);
   margin-bottom: 5px;
   border-top: solid 1px var(--line-color);
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li a {
   padding: var(--padding-nav);
   color: white;
   display: block;
}

header .top-section .intro .links nav .bars .main-bar:hover {
   cursor: pointer;
   color: #5558bf;
}

header .top-section .intro .links nav .bars .main-bar:hover .sub-bars {
   cursor: pointer;
   color: #5558bf;
   display: block;
}

header .top-section .intro .links nav .bars .main-bar:hover::before {
   border-color: white transparent transparent transparent;
   top: 5px;
}

header .top-section .intro .links nav .bars .main-bar:hover .sub-bars::before {
   display: block;
}

header .top-section .intro .links nav .bars .main-bar .sub-bars li:hover {
   padding-left: 15px;
}

/* Extra Small Devices */

@media (max-width: 768px) {
   header .top-section .intro .links .icon {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   header .top-section .intro .links .icon span {
      background-color: white;
      height: 2px;
      width: 40px;
   }

   header .top-section .intro .links {
      position: relative;
   }

   header .top-section .intro .links nav .bars {
      position: absolute;
      right: 0;
      top: 37px;
      flex-direction: column;
      background-color: var(--header-color);
      gap: 0px;
      margin-top: 10px;
      display: none;
   }

   header .top-section .intro .links nav .bars::before {
      content: "";
      width: 100%;
      height: 20px;
      position: absolute;
      top: -20px;
      left: 0px;
      background-color: var(--header-color);
      border-width: 0;
   }

   header .top-section .intro .links nav .bars .main-bar {
      padding: var(--padding-nav);
      position: relative;
      padding-left: 25px;
      margin-bottom: 5px;
      border-top: solid 1px var(--line-color);
   }

   header .top-section .intro .links nav .bars .main-bar::before {
      display: none;
   }

   header .top-section .intro .links nav .bars .main-bar::after {
      content: "";
      top: 19px;
      left: 10px;
      position: absolute;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent white;
   }

   header .top-section .intro .links:hover {
      cursor: pointer;
   }

   header .top-section .intro .links:hover nav .bars {
      display: block;
   }

   header .top-section .intro .links nav .bars .main-bar:hover .sub-bars::before {
      display: none;
   }

   header .top-section .intro .links nav .bars .main-bar:hover::after {
      border-color: transparent white transparent transparent ;
      left: 0px;
   }

   header .top-section .intro .links nav .bars .main-bar:hover .sub-bars {
      right: 167px;
      top: -6px;
   }
}

/* Small Devices */

@media (min-width: 768px) {
   header .top-section .intro {
      width: 760px;
   }
}

/* Medium Devices */

@media (min-width: 992px) {
   header .top-section .intro {
      width: 985px;
   }
}

/* Large Devices */

@media (min-width: 1200px) {
   header .top-section .intro {
      width: 1200px;
   }
}

/* End Top Section */

/* End Header */

/* Start Main */

/* Start Basic-Info Section */

main section .profile {
   display: flex;
   justify-content: space-between;
   color: white;
   flex-wrap: wrap;
   padding-bottom: 20px;
}

main section .profile .background img {
   width: 310px;
   height: 620px;
}

main section .profile .data {
   display: flex;
   flex-direction: column;
   gap: 80px;
   padding-top: 30px;
   /* background-color: red; */
   width: 35%;
}

main section .profile .data .intro-records {
   /* background-color: green; */
}

main section .profile .data .name h2 {
   font-size: 40px;
   /* background-color: blue; */
   width: fit-content;
   /* margin: 0 auto; */
   border-bottom: 2px solid white;
   padding-bottom: 3px;
}

main section .profile .data .intro-records ul li {
   margin-bottom: 20px;
   font-size: 20px;
}

main section .profile .data .intro-records ul li img {
   width: 30px;
   height: 30px;
   position: relative;
   top: 8px;
}

main section .profile .data .intro-records ul li img.left-foot,
main section .profile .data .intro-records ul li img.right-foot {
   width: 15px;
   height: 30px;
}

main section .profile .data .intro-records ul li img.calender {
   width: 23px;
   height: 23px;
   top: 4px;
}

@media (max-width: 1200px) {
   main section .profile .background img {
      width: 280px;
      height: 570px;
   }

   main section .profile .data .name h2 {
      font-size: 35px;
   }

   main section .profile .data .intro-records ul li {
      font-size: 17px;
   }

   main section .profile .data .intro-records ul li img {
      width: 25px;
      height: 25px;
      top: 6px;
   }

   main section .profile .data .intro-records ul li img.left-foot,
   main section .profile .data .intro-records ul li img.right-foot {
      width: 13px;
      height: 25px;
   }

   main section .profile .data .intro-records ul li img.calender {
      width: 19px;
      height: 19px;
      top: 4px;
   }
}

@media (max-width: 992px) {
   main section .profile .background img {
      width: 250px;
      height: 510px;
   }

   main section .profile .data .name h2 {
      font-size: 25px;
   }

   main section .profile .data .intro-records ul li {
      font-size: 13px;
   }

   main section .profile .data .intro-records ul li img {
      width: 19px;
      height: 19px;
      top: 5px;
   }
   
   main section .profile .data .intro-records ul li img.left-foot,
   main section .profile .data .intro-records ul li img.right-foot {
      width: 11px;
      height: 20px;
      top: 6px;
   }

   main section .profile .data .intro-records ul li img.calender {
      width: 15px;
      height: 15px;
      top: 3px;
   }
}

@media (max-width: 768px) {
   main section .profile .background img {
      width: 200px;
      height: 410px;
   }

   main section .profile .data {
      gap: 20px;
   }

   main section .profile .data .name h2 {
      font-size: 20px;
   }

   main section .profile .data .intro-records ul li {
      font-size: 10px;
   }

   main section .profile .data .intro-records ul li img {
      width: 15px;
      height: 15px;
      top: 4px;
   }

   main section .profile .data .intro-records ul li img.left-foot,
   main section .profile .data .intro-records ul li img.right-foot {
      width: 9px;
      height: 17px;
      top: 5px;
   }

   main section .profile .data .intro-records ul li img.calender {
      width: 13px;
      height: 13px;
      top: 2px;
   }
}

@media (max-width: 600px) {
   main section .profile .background {
      /* background-color: blue; */
      text-align: center;
   }

   main section .profile {
      flex-direction: column;
   }

   main section .profile .data {
      gap: 20px;
      padding-top: 50px;
      width: 100%;
   }

   main section .profile .background img {
      width: 170px;
      height: 330px;
      margin: 0 auto;
   }

   main section .profile .data .name h2 {
      font-size: 25px;
   }

   main section .profile .data .intro-records ul li {
      font-size: 17px;
   }

   main section .profile .data .intro-records ul li img {
      width: 23px;
      height: 23px;
      top: 6px;
   }

   main section .profile .data .intro-records ul li img.left-foot,
   main section .profile .data .intro-records ul li img.right-foot {
      width: 16px;
      height: 30px;
      top: 8px;
   }

   main section .profile .data .intro-records ul li img.calender {
      width: 23px;
      height: 23px;
      top: 4px;
   }
}

/* End Basic-Info Section */

/* Start Records */

main section.records {
   padding-top: 20px;
}

main section .container .box {
   color: white;
}

main section .container .box .headline {
   font-size: 25px;
   border-bottom: solid 2px white;
   width: fit-content;
   margin-bottom: 25px;
}

main section .container .box .achievements ul {
   padding-left: 17px;
}

main section .container .box .achievements ul li {
   list-style: disc;
   font-size: 20px;
   padding-bottom: 10px;
}

main section .container .box .achievements ul li:last-of-type {
   padding-bottom: 25px;
}

main section .container .box .achievements ul li img {
   width: 47px;
   height: 35px;
   position: relative;
   top: 8px;
   padding-left: 10px;
}

@media (max-width: 1200px) {
   main section .container .box .headline {
      font-size: 25px;
   }

   main section .container .box .achievements ul li {
      font-size: 17px;
   }

   main section .container .box .achievements ul li img {
      width: 42px;
      height: 30px;
   }
}

@media (max-width: 992px) {
   main section .container .box .headline {
      font-size: 17px;
   }

   main section .container .box .achievements ul li {
      font-size: 13px;
   }

   main section .container .box .achievements ul li img {
      width: 35px;
      height: 23px;
      top: 6px;
   }
}

@media (max-width: 768px) {
   main section .container .box .headline {
      font-size: 15px;
   }

   main section .container .box .achievements ul li {
      font-size: 10px;
   }

   main section .container .box .achievements ul li img {
      width: 30px;
      height: 19px;
      top: 5px;
   }
}

@media (max-width: 600px) {
   main section .container .box .headline {
      font-size: 18px;
   }

   main section .container .box .achievements ul li {
      font-size: 15px;
      line-height: 1.7;
   }

   main section .container .box .achievements ul li img {
      width: 30px;
      height: 19px;
      top: 5px;
   }
}

/* End Records */

/* End Main */